/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */

/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "Droid Sans", "Helvetica Neue", 'San Francisco', Helvetica, Arial, "Lucida Grande", sans-serif;
}

div.content, body, html {
  margin: 0;
  padding: 0;
}

.node-purple {
  background: #e3d6f2;
  border: 1px solid #713baf;
}
.node-blue {
  background: #d5e1ef;
  border: 1px solid #2a4b7f;
}
.node-yellow {
  background: #fde9a5;
  border: 1px solid #fdb50a;
}
.node-green {
  background: #cdeed1;
  border: 1px solid #1a7f01;
}
.node-red {
  background: #f2dddc;
  border: 1px solid #af393b;
}
.node-gray {
  background: #d5d6d9;
  border: 1px solid #6c747f;
}

.node-group {
  position: relative;
  display: block;
}

.node {
  position: absolute;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 2px;
  font-size: 18px;
  top: 50%;
}
.node-circle {
  border-radius: 100%;
  padding: 2px;
  display: block;
  width: 22px;
  height: 22px;
  line-height: 22px;
}

/* Network diagram */
.network-diagram-nodes {
  position: relative;
  display: block;
  min-height: 400px;
}
.network-edge {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  shape-rendering: geometricPrecision;
}

.network-diagram {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.network-diagram svg {
  width: 100%;
  height: 100%;
}

.node-comment {
  max-width: 100px;
}

.node-comment1 {
  right: 20px;
  top: 120px;
}

.node-comment2 {
  left: 50%;
  top: 100px;
}
